
.DS_Store
Thumbs.db
.vscode/
.idea/


.env
.env.*
*.env


__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/
.venv/
venv/
backend/venv/
instance/*.db
*.sqlite
*.sqlite3


node_modules/
frontend/node_modules/
frontend/dist/
dist/
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

backend/celerybeat-schedule
dump.rdb
backend/dump.rdb
backend/static/
